* {
    padding: 0;
    margin:  0;

    font-family: 'Trebuchet MS';
    color: white;
    text-decoration: none;
}

body {
    background-color:  #0e0e10;
}

header {
    width: 100%;
    height:  8vh;
    display:  flexbox;

    background-color:  #1b1e23;

    & .menu {
        width: 100%;
        height: 100%;
        display: flexbox;
    }

    & .menuList {
        width: 100%;
        height: 100%;
        display: flexbox;

        justify-content: center;
        align-items: center;
        list-style: none;
        display: flex;
    }

    & .menuItem {
        padding: 1vh;
        margin: 1vw;
    }

    & .highlight {
        color: #1b1e23;
        padding: .25em;
        border-radius: .25em;
        background-color: brown;
    }
}

main {
    width: 100%;
    display: flex;

    & .adsContainer {
        width: 20%;
        height: 80vh;
    }

    & .container {
        width: 60%;
        height: 80vh;
        display: flexbox;
    }

    & .roulette {
        width: 100%;
        height: 50%;
        display: flexbox;

        justify-items: center;
        align-content: center;
    }

    & .rouletteTitle {
        width: 100%;
        padding: 2vh;

        text-align: center;
        font-size: x-large;
    }

    & .roulettePossibilities {
        width: 85%;
        height: 15vh;
        display: flex;
        
        justify-content: center;
        align-items: center;
        border-radius: 1em;

        background-color: #1b1e23;
    }

    & .rouletteBar {
        width: .2vw;
        height: 16.5%;
        position: absolute;

        background-color: white;
    }

    & .rouletteItem {
        margin: 2%;
        padding: 2.5%;

        width: 7.25%;
        height: 45%;

        background-color: #0e0e10;
        border-radius: 1em;
    }

    & .rouletteBets {
        width: 100%;
        height: 50%;
        display: flex;
    }

    & .betArea {
        width: 33.33%;
        height: 100%;
        display: flexbox;

        justify-content: center;
    }

    & .betButton {
        width: 90%;
        height: 7vh;
        display: flex;

        align-items: center;
        justify-content: center;
        cursor: pointer;

        border: 0;
        border-radius: .5em;
        background-color: #1b1e23;
    }

    & .buttonIcon {
        width: 17%;
        height: 80%;

        margin-right: 20%;
    }

    & .buttonText {
        margin-left: 20%;
    }

    & .betsList {
        width: 90%;
        height: 30vh;

        margin-top: 1.5vh;
    }
}

footer {
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: #1b1e23;

    & .information {
        width: 100%;
        height: 100%;
        display: flex;
    }

    & .informationList {
        width: 100%;
        height: 100%;
        display: flexbox;

        justify-content: center;
        align-items: center;
        list-style: none;
        display: flex;
    }

    & .informationItem {
        padding: 1vh;
        margin: 1vw;
    }
}